@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --main-color: #1b3548;
    --secondary-color: #126dae;
    --best-font:  font-family: "MS Gothic", Tahoma, sans-serif;
    --span-color: darkgray;
}
span{
    color: #2aa198;
}

body {
    background-color: black;
    font-family: "Pixel NES";
    color: white;
}

/* rain animation */

#rainBackgroundContainer {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    pointer-events: none;
  }
  
  .raindrop {
    position: absolute;
    background: linear-gradient(to bottom, rgba(200, 200, 255, 0.7), rgba(200, 200, 255, 0));
    animation: rainAnimation linear infinite;
  }
  
  @keyframes rainAnimation {
    to {
      transform: translateY(100vh);
    }
  } 

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.press-start {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: rgb(144, 143, 143);
    padding: 10px;
    font-size: 4rem;
    animation: blink 1s infinite;
}

hr{
    width: 100%;
    border: 2px solid #161719;
    animation: blink 1s 5;
}

/* blinking animation */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* responsive design for header on phones */
@media only screen and (max-width: 650px){
    .press-start{
        font-size: 3rem;
    }
}


/* scrollbar  */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #1b3548;
    background-color: black;
}

/* philly box info */

#philly-info-box{
    transition: .5s;
    border: 1px solid yellow;
    position: absolute;
    right: 40px;
    top: 35%;
    padding: 15px;
    border-radius: 5px;
}

#philly-info-box > .top-of-philly-box{
    position: relative;
    display: flex;
    justify-content: center;
    color:yellow;
}

#philly-info-box > .top-of-philly-box > img{
    transition: .5s;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
}

#philly-info-box > .top-of-philly-box > img:hover{
    transform: scale(1.7);
}

#philly-info-box > .bottom-philly-box {
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

#philly-info-box > .bottom-philly-box > p{
    font-family: "MS Gothic", Tahoma, sans-serif;
    color: white;
}

#philly-info-box > .bottom-philly-box > p > span{
    color: yellow;
}

@media only screen and (max-width: 1200px){
    #philly-info-box > .top-of-philly-box{
        display: none;
    }

    #philly-info-box{
        right: 5px;
        top: 7px;
        width: 25%;
    }
}

@media only screen and (max-width: 650px){
    #philly-info-box{
        display: none;
    }
}

/* blog section */

#blog{
    padding: 40px;
    position: inherit;
    width: 100%;
}

#blog > h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: rgb(253, 252, 252);
}

#blog > h1, h2, p {
    margin-top: 15px;
}

.p-style{
    color: var(--secondary-color);
}

#blog > p{
    font-family: "MS Gothic", Tahoma, sans-serif;
}


#blog > .boxes{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.boxes > .card{
    width: 325px;
    height: 385px;
    border: 3px solid #161719;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.boxes > .card >a > img{
    width: 100%;
    height: auto;
}

.boxes > .card > .card-content{
    padding: 16px;
}

.boxes > .card > .card-content > h2{
    font-family: sans-serif;
    font-size: 28px;
    margin-bottom: 8px;
}

.boxes > .card > .card-content > p{
    color: white;
    line-height: 1.5;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    padding-bottom: 20px;
}

.boxes > .card > .card-content > .card-btn{
    margin-top: 140px;
    margin-bottom: 20px;
    background-color:transparent;
    color: white;
    border: 1px solid #1b3548;
    border-radius: 2px;
    padding: 7px 10px;
}

.boxes > .card > .card-content > .card-btn:hover{
    color: crimson;
}




/* actual blogs section */
#blogs-from-shawn{
    padding: 40px;
    margin: 25px;
}

#blogs-from-shawn > #blog > .p-style{
    color: #2aa198;
}


#blogs-from-shawn > h1{
    text-align: center;
    color: #2aa198;
}

#blogs-from-shawn > #blog > h1{
    color: rgba(7, 244, 161, 0.5);
}

#blogs-from-shawn > hr{
    width: 60%;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 650px){
    #blogs-from-shawn {
        padding: 10px;
        margin: 15px;
    }
}




/* footer section */
footer{
    padding: 25px;
    text-align: center;
}

footer > p{
    font-family: "MS Gothic", Tahoma, sans-serif;
}

footer > p > span{
    color: #126dae;
}


/* blog titles */

.blog-title{
    padding: 5px;
    margin: 20px;
}

.blog-title > a > h2{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #2aa198;
}

.blog-title > p{
    font-family: "MS Gothic", Tahoma, sans-serif;
    color: rgba(7, 244, 161, 0.5);

}